GEMINI_API_KEY=your GEMINI_API_KEY
GEMINI_MODEL=gemini-3.1-flash-lite

HOW_MANY_PDFS=2
FILE_PREFIX=exp
OUTPUT_FOLDER=path

# The query that stays fixed at the end of every title inside {{}}
TITLE_QUERY=
 
# Short topic hint to help Gemini write relevant prefixes
TITLE_TOPIC=