# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Project specific
settings.json
output_pdfs/
*.pdf
content.md
titles.md

# PyInstaller
build/
dist/
*.spec

# Editors
.vscode/
.idea/
.DS_Store
